//====================================================================================================
.footer {
	margin-top: rem(200);
	background: #081315;
	padding: rem(80) 0;
	@media (max-width: em(1440)){
		margin-top: 13.89vw;
	}
	@media (max-width: em(1160)){
		padding: 6.90vw 0;
	}
	@media (max-width:$mobile){
		margin-top: 12vw;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	&__top {
	}
	&__bottom {
	}
}
.footer-top {
	display: flex;
	width: 100%;
	column-gap: rem(30);
	@media (max-width: em(1000)){
		column-gap: rem(10);
	}
	@media (max-width: em(800)){
		 flex-direction: column; 
		 gap: 5vw;
	}
	&__socials-block {
		max-width: rem(263);
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: rem(30);
		@media (max-width: em(800)){
			 gap: 3.91vw; 
			 flex-direction: row;
			 max-width: 100%;
			 align-items: center;
			 justify-content: space-between;
			 flex-wrap: wrap;
		}
	}
	&__logo {
	}
	&__description {
		line-height: 175%;
		color: #D3D6D8;
		@media (max-width: em(800)){
			 order: 1; 
			 width: 100%;
		}
	}
	&__socials-container {
	}
	&__spollers {
	}
}
.socials-container {
	display: flex;
	gap: rem(6);
	flex-wrap: wrap;
	&>* {
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		background: rgba(213, 226, 228, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
		&:hover {
			transition: all 0.3s ease 0s;
			background-color: $linkColor;
		}
	}
}
.spollers {
	display: flex;
	width: 100%;
	justify-content: space-between;
	@media (max-width: em(580)){
		flex-direction: column;
		align-items: center;
		gap: rem(20);
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(33);
		@media (max-width: em(580)){
			text-align: center;
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(18);
		line-height: 127%;
		color: #FFFFFF;
		list-style: none;
	}
	&__body {
		margin-top: rem(33);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(25);
		transition: all 0.3s ease 0s;
		@media (max-width: em(580)){
			margin-top: rem(15);
			align-items: center;
			gap: rem(20);
		}
		&>* {
			&:hover {
				transition: all 0.3s ease 0s;
				text-decoration: underline;
				color: #FFFFFF;
			}
		}
	}
}
.footer-bottom {
	margin-top: rem(97);
	gap: rem(24);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	@media (max-width: em(1160)){
		margin-top: 8.36vw;
	}
	@media (max-width:$mobile){
		flex-direction: row;
		justify-content: center;
		gap: 3.13vw;
		margin-top: 5vw;
	}
	&__heart-container {
		width: rem(56);
		height: rem(56);
		border-radius: 50%;
		background-color: #005490;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: em(500)){
			width: rem(40);
			height: rem(40);
		}
		& img {
			@media (max-width: em(500)){
				width: rem(22);
				height: rem(20);
			}
		}
	}
	&__copyright {
		font-weight: 700;
		line-height: 130%;
		@media (max-width: em(500)){
			font-size: rem(14);
		}
	}
}

//====================================================================================================
