//====================================================================================================
.footer {
	margin-top: rem(500);
	background: #081315;
	padding: rem(80) 0;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	&__top {
	}
	&__bottom {
	}
}
.footer-top {
	display: flex;
	width: 100%;
	column-gap: rem(30);
	&__socials-block {
		max-width: rem(263);
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: rem(30);
	}
	&__logo {
	}
	&__description {
		line-height: 175%;
		color: #D3D6D8;
	}
	&__socials-container {
	}
	&__spollers {
	}
}
.socials-container {
	display: flex;
	gap: rem(6);
	&>* {
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		background: rgba(213, 226, 228, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
		&:hover {
			transition: all 0.3s ease 0s;
			background-color: $linkColor;
		}
	}
}
.spollers {
	display: flex;
	width: 100%;
	justify-content: space-between;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(33);
	}
	&__title {
		font-weight: 700;
		font-size: rem(18);
		line-height: 127%;
		color: #FFFFFF;
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(25);
		transition: all 0.3s ease 0s;
		&>* {
			&:hover {
				transition: all 0.3s ease 0s;
				text-decoration: underline;
				color: #FFFFFF;
			}
		}
	}
}
.footer-bottom {
	margin-top: rem(97);
	gap: rem(24);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__heart-container {
		width: rem(56);
		height: rem(56);
		border-radius: 50%;
		background-color: #005490;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__copyright {
		font-weight: 700;
		line-height: 130%;
	}
}

//====================================================================================================
