body {
	overflow-x:hidden;
}


//=======BRANDS========================================================================================

.brands {
	margin-top: rem(128);
	@media (max-width: em(1440)){
		margin-top: 10vw;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
		flex-wrap: wrap;
		@media (max-width: em(1160)){
			justify-content: space-around;
			column-gap: 2.59vw;
			row-gap: rem(20);
		}
		@media (max-width:$mobile){
			 column-gap: rem(20); 
		}
	}
	&__image {
		height: 100%;
		@media (max-width:$mobile){
			max-width: 17.19vw;
		}
		@media (max-width: em(500)){
			max-width: rem(100);
		}
	}
}

//=======IMPRESSIONS========================================================================================

.impressions {
	margin-top: rem(205);
	@media (max-width: em(1440)){
		margin-top: 14.24vw;
	}
	@media (max-width:$mobile){
		margin-top: 12vw;
	}
	&__container {
		position: relative;
	}
	&__arrow-image {
		position: absolute;
		top: rem(50);
		left: 0;
		@media (max-width: em(1160)){
			width: 53.53vw;
			height: 60.09vw;
			top: 4.31vw;
		}
		@media (max-width: em(830)){
			display: none;
		}
	}
	&__phones-image {
		position: relative;
		top: 0;
		left: 0;
		@media (max-width: em(1160)){
			width: 42.59vw;
			height: 47.50vw;
		}
		@media (max-width:$mobile){
			display: none;
		}
	}
	&__content-block {
		position: absolute;
		right: 0;
		top: 0;
		max-width: rem(485);
		margin-top: rem(100);
		@media (max-width: em(980)){
			max-width: 49.49vw;
			margin-top: 10.20vw;
		}
		@media (max-width: em(830)){
			margin-top: 5vw;
		}
		@media (max-width:$mobile){
			max-width: 100%;
			position: relative;
			margin-top: 0;
		}
	}
}

//=======SCHEDULE========================================================================================

.schedule {
	margin-top: rem(230);
	@media (max-width: em(1440)){
		margin-top: 14.89vw;
	}
	@media (max-width:$mobile){
		 margin-top: 12vw; 
	}
	&__container {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		justify-content: left;
	}
	&__pc-image {
		position: relative;
		top: 0;
		right: 0;
		@media (max-width: em(1160)){
			width: 61.03vw;
			height: 35.78vw;
			right: inherit;
			position: absolute;
			left: rem(470);
		}
		@media (max-width:$mobile){
			 display: none;
			 overflow: hidden;
		}
	}
	&__content-block {
		position: relative;
		left: 0;
		max-width: rem(452);
		min-width: rem(452);
		@media (max-width:$mobile){
			 max-width: 100%;
			 min-width: rem(0);
		}
	}
}

//=======PERFORMANCE========================================================================================

.performance {
	margin-top: rem(153);
	padding: rem(80) 0;
	background: rgba(48, 217, 255, 0.1);
	@media (max-width: em(1440)){
		margin-top: 10.63vw;
		padding: 5.56vw 0;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(76);
		@media (max-width: em(1440)){
			gap: 5.28vw;
		}
	}
	&__title-block {
		max-width: rem(616);
		text-align: center;
	}
	&__cards-container {
	}
}

.cards-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: rem(20);
	@media (max-width: em(1100)){
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}
	@media (max-width: em(600)){
		grid-template-columns: 1fr ;
		grid-template-rows: auto;
	}
	&__card {
		padding: rem(28) rem(33) rem(28) rem(28);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: 8px;
		max-width: rem(259);
		width: 100%;
		background-color: #FFFFFF;
		@media (max-width: em(1440)){
			padding: 1.94vw 2.29vw 1.94vw 1.94vw;
		}
		@media (max-width: em(1100)){
			max-width: 100%;
		}
		@media (max-width:$mobile){
			padding: rem(15);
		}
		@media (max-width: em(450)){
			align-items: center;
		}
	}
	&__card-icon-container {
			width: rem(56);
			height: rem(56);
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
		&_red {
			background: linear-gradient(315.55deg, #EF4444 0%, #FF8989 92.87%);
		}
		&_blue {
			background: linear-gradient(318.24deg, #3B82F6 0%, #86B4FF 94.95%);
		}
		&_yellow {
			background: linear-gradient(314.44deg, #F59E0B 0%, #FFD285 91.08%);
		}
		&_green {
			background: linear-gradient(314.44deg, #14B8A6 0%, #48DFCE 91.08%);
		}
	}
	&__card-icon {
	}
	&__card-title {
		margin-top: rem(26);
		font-weight: 700;
		font-size: 20px;
		line-height: 160%;
		letter-spacing: 0.2px;
		color: $titleColor;
		@media (max-width: em(1160)){
			margin-top: 2.24vw;
		}
	}
	&__card-description {
		margin-top: rem(16);
		font-size: rem(15);
		line-height: 160%;
		letter-spacing: 0.3px;
		@media (max-width: em(1160)){
			margin-top: 1.38vw;
		}
		@media (max-width: em(450)){
			text-align: center;
		}
	}
}




